{% load static %}
<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="bi me-2" width="40" height="32" src="{% static 'img/logo.webp' %}">
                <span class="fs-4">Simple header</span>
              </a>
        </div>
        {% include "includes/navbar.html" %}
    </header>
</div>